.lista1 {
  list-style: none;
  padding: 0;
  display: flex;
}

.lista1 li {
  background-color: #29487d;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

.lista1 li:hover {
  background-color: #007bff;
}

.lista2 {
  list-style: none;
  padding: 0;
  display: flex;
}
.country-list {
  list-style-type: none;
  padding: 0;
}

.country-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 18px;
}

.country-list li img.flag {
  width: 40px; /* Tamanho da bandeira */
  height: auto;
  margin-right: 10px;
  border: 1px solid #ccc; /* Borda para as bandeiras */
}

.social-list {
  list-style-type: none;
  padding: 0;
}

.social-list li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 18px;
}

.social-list li img.icon {
  width: 24px; /* Tamanho do ícone */
  height: auto;
  margin-right: 10px;
}

#lista4 ol {
  counter-reset: item;
  list-style-type: none;
}

#lista4 li {
  counter-increment: item;
}

#lista4 li:before {
  content: counters(item, ".") ". ";
}

#lista4 ol ol {
  counter-reset: subitem;
  list-style-type: none;
}

#lista4 ol ol li {
  counter-increment: subitem;
}

#lista4 ol ol li:before {
  content: counters(item, ".") "." counters(subitem, ".") ". ";
}

#lista4 ol ol ol {
  counter-reset: subsubitem;
  list-style-type: none;
}

#lista4 ol ol ol li {
  counter-increment: subsubitem;
}

#lista4 ol ol ol li:before {
  content: counters(item, ".") "." counters(subitem, ".") "." counters(subsubitem, ".") ". ";
}

#lista4 ol ol ol ol {
  display: none;
}

#lista4 ol ol ol li {
  counter-increment: none;
}

#lista4 ol ol li {
  counter-increment: subitem;
}

#lista4 ol ol li:before {
  content: counters(item, ".") "." counters(subitem, ".") ". ";
}

#lista4 ol li {
  counter-increment: item;
}

#lista4 ol li:before {
  content: counters(item, ".") ". ";
}