table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}
h1  {
    text-align:center;
}
     

.produto-info {
    float: left;
    width: 70%;
}

.produto-imagem {
    float: right;
    width: 25%;
    margin: 10px;
    border: 1px solid #ddd;
}